{% import 'macro.html.twig' as m %}
{% extends 'base.html.twig' %}

{% block title %}Kyabets-Timeline-Detail{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block body %}
<h3 class="text-center text-info">Reply</h3>
{{ m.textform(bbs.id, 'Do you wanna reply to this post?', '返信') }}

{% if bbs is defined and bbs is not null %}
    {{ m.postcard(bbs) }}
{% endif %}

{% if replies is defined and replies is not null %}
    {% for post in replies %}
        {% if post.user is defined and post.user is not null %}
            {{ m.replies(post) }}
        {% endif %}
    {% endfor %}
{% endif %}

{% endblock %}
