{% import 'macro.html.twig' as m %}
{% extends 'base.html.twig' %}

{% block title %}Kyabets-Timeline{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block body %}
<h3 class="text-center text-info">Timeline top</h3>
{{ m.textform(null, 'write or ask someone as you like!', '投稿') }}

{% if bbs is defined and bbs is not null %}
{% for post in bbs %}
{% if post.user is defined and post.user is not null %}
{{ m.postcard(post) }}
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}
