{% extends 'base.html.twig' %}

{% block title %}Timeline{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block body %}

<div class="container">
    <button type="button" class="btn btn-primary fixed-left" data-toggle="collapse" data-target="#collapsepost" aria-expanded="false" aria-controls="collapseExample">
        ✏
    </button>
</div>
<div class="collapse container" id="collapsepost">
    <form action="/timeline" method="post">
        <div class="form-group">
            <label for="exampleTextarea">write or ask someone as you like.<button type="submit" class="btn btn-secondary">投稿</button>
            </label>
            <textarea name="contents" class="form-control" id="exampleTextarea" rows="3" required></textarea>
        </div>
    </form>
</div>
<br>
{% if cards is defined and cards is not null %}
{% for card in cards %}
<div class="container">
    <div class="card border-primary mb-3 mx-auto" style="max-width: 50rem;">
        <div class="card-header">{{card.writtenby}}&nbsp;<span class="body text-right" style="font-size:0.8rem;">({{card.date | date('Y-m-d H:i:s')}})</span></div>
        <div class="card-body">
            <!-- <h4 class="card-title">Primary card title</h4> -->
            <p class="card-text">{{card.contents}}</p>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}
