{% extends 'base.html.twig' %}

{% block title %}Kyabets-Settings{% endblock %}

{% block body %}
<div class="container">
    <div class="card text-white bg-secondary mb-3 mx-auto " style="max-width: 40rem;">
        <div class="card-header">This page is not available</div>
        <div class="card-body">
            <h4 class="card-title">Sorry...</h4>
            <p class="card-text">I'll do my best to deal with that as soon as possible.</p>
        </div>
    </div>
</div>
{% endblock %}
