{% extends 'base.html.twig' %}

{% block title %}Kyabets-Registeration{% endblock %}

{% block body %}
<h3 class="text-center text-info">Ranking</h3>

<div id="login">
    <h3 class="text-center text-info">Registration form</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
